pipelines:
  KwickbitPaymentPipeline:
    source:
      type: SorobanSourceAdapter
      config:
        # rpc_url: "https://rpc-testnet.nodeswithobsrvr.co"
        rpc_url: "https://stellar-soroban-testnet-public.nodies.app"
        # rpc_url: "https://soroban-rpc.testnet.stellar.gateway.fm"
        auth_header: ""
        poll_interval: 4
        # Needs to be changed to a ledger range within the window
        start_ledger: 1824156
        end_ledger: 1824199
        format: "xdrFormat"
        rpc_method: "getLedgers"
        num_workers: 10
        retry_limit: 3
        retry_wait: 5

        # Checkpointing
        checkpoint_dir: "/tmp/checkpoints/contract-events"
        checkpoint_interval: 100
    processors:
      - type: ContractEvent
        config:
          network_passphrase: "Test SDF Network ; September 2015"
    consumers:
      - type: SaveContractEventsToPostgreSQL
        config:
          host: "${DB_HOST}"
          port: 5432
          database: "${DB_DATABASE}"
          username: "postgres"
          password: "${DB_PASSWORD}"
          sslmode: "disable"
          max_open_conns: 10
          max_idle_conns: 5
